@font-face {
    font-family: main-font;
    src: url("assets/Orbitron/Orbitron-VariableFont_wght.ttf")
}


body{
    background-image: url(assets/galaxy.jpeg);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: main-font;
    font-size: 14px;
}



#main-page{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(assets/mars-surface.jpeg);
    background-size: cover;
    height: 800px;
    width: 70%;
    display: flex;
    justify-self: center;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px solid black;
    border-radius: 7px;
}

#information{
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: rgb(245, 149,44);
    border: 3px solid black;
    border-radius: 7px;
    text-align: center;
}

#header{
    padding-top: 50px;
    border: 3px solid rgb(245, 141, 44)
}

#pressure{
    background-color: black;
    color: rgb(245, 141,44);
    text-align: center;
    border: 3px solid rgb(245, 141, 44);

}

#temperature{
    background-color: black;
    color: rgb(245, 141,44);
    text-align: center;
    border: 3px solid rgb(245, 141, 44);

}

#wind{
    background-color: black;
    color: rgb(245, 141,44);
    border: 3px solid rgb(245, 141, 44);
    text-align: center;

}

#details{
    padding-top: 50px;
    padding-bottom: 30px;
}

#back-button{
    color: gray;
}

#forward-button{
    color: gray;
    padding-left: 90px;
}


